# Windows example: C:\\Program Files\\Tesseract-OCR\\tesseract.exe
TESSERACT_CMD=
OCR_LANGUAGE=eng
CODE_TIMEOUT_SECONDS=3
MAX_CODE_TIMEOUT_SECONDS=10
MAX_UPLOAD_BYTES=5242880
MAX_IMAGE_PIXELS=16000000
MAX_SOURCE_BYTES=50000
MAX_STDIN_BYTES=65536
MAX_OUTPUT_BYTES=65536
CODE_MEMORY_LIMIT_MB=128
